SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=
SMTP_AUTH=
SMTP_TLS=
MONGODB_URI=mongodb://localhost:27017/modl?maxPoolSize=150&minPoolSize=10&connectTimeoutMS=5000&socketTimeoutMS=30000&waitQueueTimeoutMS=5000
WEB_ADMIN_USERNAME=
WEB_ADMIN_PASSWORD=
GEMINI_API_KEY=
BACKBLAZE_KEY_ID=
BACKBLAZE_APPLICATION_KEY=
BACKBLAZE_BUCKET_NAME=
BACKBLAZE_ENDPOINT=
REPLAY_LITE_BACKBLAZE_KEY_ID=
REPLAY_LITE_BACKBLAZE_APPLICATION_KEY=
REPLAY_LITE_BACKBLAZE_BUCKET_NAME=
REPLAY_LITE_BACKBLAZE_ENDPOINT=
REPLAY_LITE_CDN_DOMAIN=replays.modl.gg
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_CDN_DOMAIN=
CLOUDFLARE_TURNSTILE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
MODL_DOMAIN=
MODL_COOKIE_DOMAIN=
MODL_CORS_APP_DOMAINS=
MODL_CORS_REPLAY_LITE_ORIGINS=https://replays.modl.gg
MODL_EMAIL_DOMAIN=
